@media (max-width: 81em) {
  html {
    font-size: 56.5%;
  }
}

@media (max-width: 69em) {
  html {
    font-size: 50%;
  }

  .development-container {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    /* padding: 1.2rem; */
  }

  .box-3 {
    grid-column: 1/-1;
  }

  .box-3 p {
    margin: 0 20rem 1.6rem;
  }

  .dev-divider {
    grid-row: 3/4;
    grid-column: 1/-1;
    width: 4%;
  }

  .dev-tools {
    grid-row: 4/5;
    grid-column: 1/-1;
  }

  .project-titles {
    font-size: 3.4rem;
  }

  .lets-work-container {
    grid-template-columns: 1fr 2fr 1fr;
    padding: 4.8rem 2.8rem;
  }
}

@media (max-width: 57em) {
  .header-text {
    padding: 0 2rem;
  }
  .project-container {
    padding: 0 16rem;
  }
  .project-box {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .project-info-box {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-bottom: 3.2rem;
    justify-self: center;
  }

  .project-details {
    grid-row: 2/3;
    text-align: center;
  }

  .project-links-left,
  .project-links-right {
    top: 35%;
    left: 50%;
    right: 20%;
  }

  .lets-work-container {
    grid-template-columns: 1fr 2fr 1fr;
    /* padding: 3.6rem; */
  }
}

@media (max-width: 46em) {
  html {
    font-size: 47.5%;
  }
  .development-container {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .box-3 p {
    margin: 0 0 1.6rem;
  }
  .dev-divider {
    grid-row: 4/5;
    width: 8%;
  }
  .dev-tools {
    grid-row: 5/6;
    grid-column: 1/-1;
  }
  .project-container {
    padding: 0 2rem;
  }

  .lets-work-container {
    grid-template-columns: 1fr auto;
    justify-content: center;
    width: 98%;
  }

  .work-main-text {
    margin-bottom: 1.2rem;
  }

  .get-in-touch {
    grid-row: 1/3;
    grid-column: 2/3;
    align-self: center;
  }

  .form {
    width: 62rem;
  }
  .form-info {
    column-gap: 4rem;
  }
}

@media (max-width: 34em) {
  .project-links-left,
  .project-links-right {
    top: 30%;
    left: 50%;
    right: 20%;
  }

  .lets-work-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .get-in-touch {
    grid-row: auto;
    grid-column: auto;
    align-self: center;
  }

  .lets-work-container p {
    margin-bottom: 1.8rem;
  }

  .form {
    width: 84%;
  }
  .form-info {
    grid-template-columns: 1fr;
  }
}
