* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
Main Color: #e6dbd0
Text Color: #272838
Unimportant Text Color: #6F729B
Divider Color: #646790

*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Oswald", sans-serif;
  color: #272838;
  background-color: #f8f5f2;

  position: relative;
}

.container {
  max-width: 120rem;
  padding: 3.2rem;
  margin: 0 auto;
}

section {
  margin-bottom: 9.6rem;
}

header {
  margin-bottom: 12.8rem;
}

ul {
  list-style: none;
}

.divider {
  border-top: 2px solid #646790;
  margin-left: auto;
  margin-right: auto;
}

.top-whitespace {
  margin-top: 10rem;
}

.grid {
  display: grid;
}

.grid--1-col {
  grid-template-columns: 1fr;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/** HEADER **/
.header-box {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin-bottom: 12.8rem;
}

.header-divider {
  width: 5%;
}

.header-welcome {
  font-size: 8.6rem;
  margin-bottom: 2rem;
}
.header-name {
  font-size: 4.4rem;
  margin-bottom: 6.4rem;
}

.header-text {
  justify-self: center;
  color: #cbc7e5;
  max-width: 100vw;
  font-size: 2rem;
  line-height: 3.2rem;
}

.header-img {
  max-width: 20rem;
  margin: 0 auto;
  margin-bottom: 1.2rem;
}

/** DEVELOPMENT SECTION **/

.development-container {
  text-align: center;
  border-radius: 40px;
  background-color: white;
  box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.1);
}

.development-box {
  margin-bottom: 3.2rem;
}

.dev-title {
  font-size: 3rem;
  padding: 0 1.6rem;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  border-bottom: 2px solid #646790;
  width: 31rem;
}

.dev-text {
  font-size: 1.6rem;
  padding: 0 1.6rem;
  margin-bottom: 1.6rem;
  max-height: 10rem;
}

.dev-lang-title {
  font-size: 2.4rem;
  padding: 0 1.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.dev-langs {
  padding: 0 1.6rem;
  font-size: 1.6rem;
}

.dev-tools-list li,
.dev-langs li {
  margin: 0.8rem;
}

.dev-divider {
  grid-column: 2/3;
  margin-bottom: 2.4rem;
  width: 10%;
}

.dev-tools {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 1.6rem;
  /* margin-bottom: 32px; */
}

.dev-tools-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}

/** PROJECTS SECTION **/

h2 {
  font-size: 7.4rem;
  text-align: center;
  margin-bottom: 1.6rem;
}

.project-divider {
  width: 24%;
  margin-bottom: 9.6rem;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
}

.project-box {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
  margin-bottom: 9.6rem;
}

.project-info-box {
  max-width: 54rem;
  max-height: 16.8rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.2);

  background-color: #cbc7e5;
  border-radius: 25px;

  padding: 2.4rem;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.project-catch {
  justify-self: center;
  font-size: 1.6rem;
}

.project-titles {
  text-align: center;
  padding: 0 0.8rem;
  font-size: 4.4rem;
  font-weight: 700;
}

.project-details {
  align-self: center;
  line-height: 1.6;
  font-size: 1.6rem;
}

/** Project 1 **/

.localeye-text {
  align-self: center;
}

.localeye-title {
  font-size: 5.2rem;
}

.localeye-logo {
  width: 12rem;
  margin-left: 1.6rem;
}

.localeye-catch {
  color: #47454a;
}

/** Project 2 **/

.project-box-2 {
  grid-column: 2/3;
  justify-self: end;
}

.project-2-text {
  align-self: center;
}

.project-2-details {
  text-align: right;
  grid-row: 1/2;
}

.project-2-catch {
  text-align: center;
  margin-right: 2.4rem;
  color: #47454a;
}

/** Project 3 **/

.project-3-title {
  font-size: 4rem;
}

.project-3-text {
  align-self: center;
}

.project-3-catch {
  text-align: center;
  color: #47454a;
}
.project-3-logo {
  background-color: #f8f5f2;
  height: 12rem;
  object-fit: contain;
  border-radius: 500px;
}

/** TIMELINE SECTION **/

.timeline-container {
  display: grid;
  grid-template-columns: 6rem 1fr;
  margin-bottom: 8rem;
  margin-bottom: 6.4rem;
  padding: 1.2rem;
}

.timeline-container:last-child {
  margin-bottom: 0px;
}

.timeline-box {
  background-color: white;
  height: auto;
  border-radius: 40px;
  padding: 3.2rem 1.2rem;

  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.1);
}

.timeline-divider {
  width: 30%;
  margin-bottom: 9.6rem;
}

.dots {
  grid-column: 1;
  text-align: center;
  font-size: 4.4rem;
  height: 3.4rem;
}

.timeline-year {
  font-size: 3rem;
}

.timeline-text {
  grid-row: 2/15;
  grid-column: 2/-1;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.04rem;
  margin-top: 2rem;
  margin-left: 1.2rem;
}

.horizontal-line {
  border-bottom: 2px solid #272838;
  height: auto;
  margin: auto 0;
  width: 30%;
  margin-left: 1.2rem;
}

/** lETS WORK SECTION **/

.lets-work-container {
  background-color: #cbc7e5;
  /* background-color: #ffcf33; */

  padding: 4.8rem;
  grid-template-columns: 1fr 3fr 1fr;
  border-radius: 40px;

  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.work-main-text {
  font-size: 3.6rem;
  font-weight: 700;
  align-self: center;
}

.work-sub-text {
  text-align: center;
  align-self: center;
  justify-self: center;
  width: 85%;
  font-size: 1.8rem;
}

.get-in-touch:hover,
.get-in-touch:active {
  color: #cbc7e5;
  background-color: #272838;

  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.get-in-touch {
  transition: all 0.3s;
  cursor: pointer;
  display: inline-block;
  color: #272838;
  border: 4px solid #272838;
  border-radius: 100px;
  padding: 2rem 3rem;
  width: 18rem;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  background-color: #cbc7e5;
}

/** FOOTER **/

footer {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  text-align: center;
  color: #b7b8cd;
}

.background-color {
  width: 100%;
  background-color: #3b3370;
  position: absolute;
  z-index: -1;
}

.bottom {
  height: 26rem;
  bottom: -3rem;
}

.top {
  top: 60rem;
  height: 80rem;
}

.social-icons-container {
  position: fixed;
  z-index: 998;
  top: 48%;
  transform: translate(30%, -50%);
}

.social-icons-box {
  margin-bottom: 4px;
}

.social-icons {
  padding: 4px;
  border-radius: 100px;
  background-color: #3b3370;
}

.social-icons:hover {
  fill: white;
  background-color: #4a408c;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.blur {
  filter: blur(0.4rem);
}

/** SUCCESSFUL FORM PAGE **/

.success-body {
  height: 100vh;
  align-items: center;
  display: flex;
}

.success-container {
  padding: 1.6rem;
  margin: 0 auto;
}

.success-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: #cbc7e5;
  align-items: center;
  justify-content: center;

  max-width: 60rem;
  padding: 4rem 2rem;
  border-radius: 35px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.thanks-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.thanks-box h1 {
  font-size: 4.4rem;
}

.success-box p {
  max-width: 70%;
  text-align: center;
  font-size: 1.8rem;
}

.icon-circle {
  background-color: #3b3370;
  border-radius: 50%;
  padding: 0.6rem;
}

.go-back:link,
.go-back:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 10rem;
  height: 4rem;
  border-radius: 20px;
  background-color: #cbc7e5;
  /* background-color: red; */
  transition: all 0.3s;
  position: relative;
}

.go-back:hover,
.goback:active {
  background-color: #3b3370;
  /* background-color: red; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.return {
  visibility: hidden;
  position: absolute;
  /* transform: translate(0.8rem); */
  right: 1.4rem;

  transform: scale(0);
  font-size: 1.6rem;
  font-weight: 700;

  transition: all 0.3s;
}

.visible {
  /* display: inline-block; */
  visibility: visible;
  transform: scale(1);
  color: #fff;
  /* transition: all 0s; */
  /* background-color: #272838; */
  /* padding: 0.7rem 0.7rem 0.7rem 2rem; */
}

.go-back-icon {
  position: absolute;
  background-color: #3b3370;
  border-radius: 50%;
  padding: 0.8rem;
  transition: all 0.3s;
}

.go-back-icon-move {
  transform: translate(-3.1rem);
}
